{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "home-assistant": {
      "type": "local",
      "command": ["uvx", "ha-mcp@latest"],
      "enabled": true,
      "environment": {
        "HOMEASSISTANT_URL": "http://homeassistant.local:8123/",
        "HOMEASSISTANT_TOKEN": "TU_TOKEN_AQUI"
      }
    }
  }
}
